<!--link rel="stylesheet" type="text/css" href="components/home/home.css"-->
<div id="home" class="scrollArea">
        <div class="samplecard navigable" ng-click="$ctrl.routeToAbout()">
        	<img class="circle-icon" src="assets/img/setting.png">
            <div> About </div>
        </div>
        <div class="samplecard navigable">
        	<img class="circle-icon" src="assets/img/setting.png">
            <div> Info </div>
        </div>
        <div class="samplecard navigable">
        	<img class="circle-icon" src="assets/img/setting.png">
            <div> Dummy </div>
        </div>

        <!-- <div class="samplecard navigable" ng-click="$ctrl.routeToPNR()">
            <div> PNR Status </div>
        </div> -->
</div>